 # requirements.txt
 #
 # installs dependencies from ./setup.py, and the package itself,
 # in editable mode
 -e .

 # (the -e above is optional). you could also just install the package
 # normally with just the line below (after uncommenting)
 # .

dill==0.3.5.1
gpflow==2.5.2
matplotlib==3.5.2
numpy==1.22.4
pandas==1.5.0
scikit_learn==1.2.0
setuptools==44.0.0
tensorflow==2.8.2
tensorflow_probability==0.16.0
tqdm==4.64.0
